.listCardPrice li{
    list-style-type: none;
}
.cardPrice{
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.sympol-card{
    position: relative;
    top: -20px;
    font-size: 15px;

    }

.list-none{
    text-decoration: line-through;
    opacity: 0.5;
}